<div class="user-new-container">
<div class="form">
<fieldset>

  <legend> Sign In </legend>
  <div id="form-push">

    <%= form_tag sessions_path, :method => :post do %>
      <div class="row">
        <div class="large-6 columns-centered">
          <%= label_tag :username %>
          <%= text_field_tag :username, params[:username]%> 
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns-centered">
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns-centered">
          <p> Don't have an account? <%= link_to "Click Here", new_user_path %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns-centered">
          <%= submit_tag 'Login', :class => "button" %>
        </div>
      </div>

    <% end %>
  </div>  
</fieldset>

</div>
</div>