<%= javascript_include_tag "draggabilly.pkgd.js" %>
 <h2><%= @roster.name %></h2>

<h3>Roster</h3>
<%= render "add_player" %>


<p><%= render "form" %></p>



<div class='roster-table'>
  <%= render partial: "roster_table" %>
</div>  

