<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <title><%= content_for?(:title) ? yield(:title) : "CheatSheet" %></title>

    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render template: "layouts/_nav" %>
    <!-- Notices -->

    <% if flash[:notice] %>
      <div data-alert class="alert-box">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
        <div data-alert class="alert-box">
            <%= flash[:alert] %>
        </div>
    <% end %>
    <div class="main">
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>